<!-- app/views/user_mailer/periodic_email.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Periodic Update for <%= @user.name %></h1>
    <p>
      This is your periodic update from Your App. We hope you are enjoying
      your experience.
    </p>


    <p>Best regards,<br />Your App Team</p>
  </body>
</html>
